<div class="search" data-controller="search" data-search-url="<%= search_index_url %>">
  <%= text_field_tag :query, "", placeholder: "Search people by name", class: "search__input", data: { action: "keyup->search#fetchResults keydown->search#navigateResults", target: "search.query" }, autofocus: true %>
  <div data-target="search.results">
  </div>
</div>
