<%= form_with url: people_search_path, class: "search" do |form| %>
  <%= form.text_field :query, placeholder: "Search by person name", class: "search__input" %>
  <div>
    <ul class="search__results">
      <li class="search__result">John Doe</li>
      <li class="search__result search__result--active">Jane Doe</li>
      <li class="search__result">Another Doe</li>
    </ul>
  </div>
<% end %>
