<div class="search">
  <%= text_field_tag :query, "", placeholder: "Search people by name", class: "search__input" %>
  <div>
    <ul class="search__results">
      <li class="search__result">John Doe</li>
      <li class="search__result search__result--active">Jane Doe</li>
      <li class="search__result">Another Doe</li>
    </ul>
  </div>
</div>
