<div class="search" data-controller="search" data-search-url="<%= search_index_url %>">
  <%= text_field_tag :query, "", placeholder: "Search people by name", class: "search__input", data: { action: "keyup->search#fetchResults keydown->search#navigateResults", search_target: "query" }, autofocus: true, autocomplete: "off" %>
  <div data-search-target="results"></div>
</div>
